version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: unefa_monitoring_db
      POSTGRES_USER: unefa_user
      POSTGRES_PASSWORD: 123456
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  backend:
    build: .
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    restart: unless-stopped
    depends_on:
      - db
      - redis
    environment:
      - POSTGRES_DB=unefa_monitoring_db
      - POSTGRES_USER=unefa_user
      - POSTGRES_PASSWORD=123456
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - DATABASE_URL=postgres://unefa_user:123456@db:5432/unefa_monitoring_db
      - REDIS_URL=redis://redis:6379/0

  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://localhost:8000/api

  huey:
    build: .
    command: >
      sh -c "python -m pip install --no-deps huey redis && huey_consumer.py gestion.tasks.HUEY"
    depends_on:
      - backend
      - redis
    volumes:
      - .:/app

volumes:
  postgres_data:
