version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: unefa_monitoring_db
      POSTGRES_USER: unefa_user
      POSTGRES_PASSWORD: secure_password
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: .
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    restart: unless-stopped
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgres://unefa_user:secure_password@db:5432/unefa_monitoring_db

  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://localhost:8000/api

volumes:
  postgres_data:
