BEGIN;
--
-- Create model Cliente
--
CREATE TABLE "gestion_cliente" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(200) NOT NULL, "email" varchar(254) NOT NULL, "direccion" varchar(300) NOT NULL);
--
-- Create model Example
--
CREATE TABLE "gestion_example" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(100) NOT NULL);
--
-- Create model Producto
--
CREATE TABLE "gestion_producto" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(200) NOT NULL, "descripcion" text NOT NULL, "precio" decimal NOT NULL);
--
-- Create model Pedido
--
CREATE TABLE "gestion_pedido" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "fecha" datetime NOT NULL, "total" decimal NOT NULL, "cliente_id" bigint NOT NULL REFERENCES "gestion_cliente" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "gestion_pedido_cliente_id_dc3de646" ON "gestion_pedido" ("cliente_id");
COMMIT;
